name: Deploy to GitHub Pages
on:
  workflow_run:
    workflows: ["CI Test"]
    type: 
      - complete
  push:
    branches:
      - main



permissions:
  contents: write
  pages: write
  id-token: write 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
        with:
          python-version: '3.x'
      - name: Install Dependencies, set up environment, and generate docs
        run: |
          python -m pip install --upgrade pip
          pip install -Uq git+https://github.com/fastai/ghapi.git
          pip install -Uq git+https://github.com/fastai/fastcore.git
          pip install -Uq git+https://github.com/fastai/execnb.git
          pip install nbdev
          pip install -e ".[dev]"
          wget -nv https://www.quarto.org/download/latest/quarto-linux-amd64.deb
          sudo dpkg -i quarto*.deb
          rm quarto*.deb
          pip install -r requirements.txt

          # Export environment variables
          export PLAID_COUNTRY_CODES=US,CA
          export PLAID_PRODUCTS=transactions
          export PLAID_CLIENT_ID=test
          export PLAID_SECRET=test
          export PLAID_ENV=sandbox
          export POSTGRES_HOST=test
          export POSTGRES_USER=test
          export POSTGRES_PASSWORD=test
          export JUPYTER_LAB_TOKEN=test
          nbdev_docs
          
      - name: Upload static files as artifact
        id: upload
        uses: actions/upload-pages-artifact@v3
        with:
          path: _docs

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.upload.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Build and deploy Pages
        uses: actions/deploy-pages@v4
        with:
          artifact_name: github-pages
      - name: Add link to workflow summary
        run: |
          REPO_NAME=${GITHUB_REPOSITORY##*/}
          echo "Site is live [here](https://${{ github.repository_owner }}.github.io/${REPO_NAME}/)" >> $GITHUB_STEP_SUMMARY
