name: Deploy to GitHub Pages
on: [workflow_dispatch, pull_request, push]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
      - name: Install Dependencies, set up environment and generate docs
        shell: bash
        run: |
          python -m pip install --upgrade pip
          pip install -Uq git+https://github.com/fastai/ghapi.git # you need this for enabling pages
          pip install -Uq git+https://github.com/fastai/fastcore.git
          pip install -Uq git+https://github.com/fastai/execnb.git
          pip install nbdev
          pip install -e ".[dev]"
          wget -nv https://www.quarto.org/download/latest/quarto-linux-amd64.deb
          sudo dpkg -i quarto*.deb
          rm quarto*.deb
          pip install -r requirements.txt
          export PLAID_COUNTRY_CODES=US,CA
          export PLAID_PRODUCTS=transactions
          export PLAID_CLIENT_ID=TEST
          export PLAID_SECRET=TEST
          export PLAID_ENV=sandbox
          export POSTGRES_HOST=TEST
          export POSTGRES_USER=TEST
          export POSTGRES_PASSWORD=TEST
          export JUPYTER_LAB_TOKEN=TEST

          nbdev_docs
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ github.token }}
          force_orphan: true
          publish_dir: ${{ env.NBDEV_DOCS }}
          user_name: billthan
          user_email: billthan@live.ca