name: CI Test
on: 
  workflow_dispatch:   
  pull_request:
    branches:
      - main           
  push:
    branches:
      - main            

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11.5'  

      - name: Install dependencies and test
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Set up dummy variables and test
        run: |
          export PLAID_COUNTRY_CODES=US,CA
          export PLAID_PRODUCTS=transactions
          export PLAID_CLIENT_ID=TEST
          export PLAID_SECRET=TEST
          export PLAID_ENV=sandbox
          export POSTGRES_HOST=TEST
          export POSTGRES_USER=TEST
          export POSTGRES_ENCRYPTION_KEY=TEST
          export POSTGRES_PASSWORD=TEST
          export JUPYTER_LAB_TOKEN=TEST
          export QUARTO_CHROMIUM_HEADLESS_MODE=none

          echo "Starting test..."
          nbdev_test